// ──────────────────────────────────────────────────────────── @import ───┐
@import "~bootstrap/scss/bootstrap";
// ────────────────────────────────────────────────────────────────────────┘

.lacoms-navbar {
  @extend .navbar;
  @extend .navbar-expand-lg;
  @extend .navbar-light;
  @extend .bg-light;
  @extend .p-1;

  img {
    @extend .pr-2;
    @extend .mb-1;
    width: 30px;
  }
}

.morningAssembly-navbar {
  @extend .navbar;
  @extend .navbar-expand-lg;
  @extend .navbar-dark;
  @extend .p-1;

  background: linear-gradient(
    45deg,
    rgba(185, 254, 144, 1) 0%,
    rgba(255, 231, 120, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgb(99, 206, 36) 0%,
    rgb(104, 207, 8) 100%
  );
  // background: rgb(191, 245, 59);
  // background: linear-gradient(45deg, rgba(191, 245, 59, 1) 0%, rgb(37, 202, 73) 100%);
}

.lacoms-version {
  font-size: 0.7rem;
}

.lacoms-navitem {
  @extend .nav-item;
  @extend .nav-link;
  @extend .p-1;
  @extend .pb-0;
  // border: 1px solid blue;
  @extend .mx-1;

  .title {
    @extend .d-block;
    @extend .text-center;
    margin-top: 2px;
    font-size: 0.7rem;
    // border: 1px solid blue;
  }
}

.lacoms-sitepreview-card {
  @extend .card;
  @extend .overflow-hidden;
  opacity: 90%;
  border-radius: 10px;
  border: 2px solid rgba(245, 245, 245, 0.5);
  transition: 0.25s;

  .preview {
    height: 13rem;
    overflow: hidden;
    transition: 0.25s;

    img {
      width: 100%;
      object-fit: cover;
      object-position: left top;
      transition: 0.25s;
    }
  }
}

.lacoms-sitepreview-card:hover {
  @extend .shadow;
  opacity: 100%;
  transition: 0.25s;
}

.test-restrict-width {
  @extend .col-12;
  @extend .col-sm-6;
  @extend .col-lg-4;
  @extend .mb-3;
}

.FavoritesPage {
  background: linear-gradient(
    0deg,
    rgba(48, 116, 255, 0.18110994397759106) 0%,
    rgba(0, 212, 255, 0.20351890756302526) 100%
  );
}

.ExperimentsPage {
  min-height: 100vh;
  background: rgb(249, 188, 255);
  background: linear-gradient(
    190deg,
    rgba(249, 188, 255, 0.3169642857142857) 0%,
    rgba(255, 191, 50, 0.39539565826330536) 100%
  );
}

.MorningAssemblyPage {
  min-height: 100vh;
  // background: rgb(188,224,255);
  // background: linear-gradient(0deg, rgba(188,224,255,0.3169642857142857) 0%, rgba(255,231,120,0.4458158263305322) 100%);
  background: rgb(185, 254, 144);
  background: linear-gradient(
    45deg,
    rgba(184, 254, 144, 0.089) 0%,
    rgba(255, 230, 120, 0.178) 100%
  );
}

.Favorites {
  @extend .p-0;
  @extend .mt-5;
  @extend .shadow-sm;
  overflow: hidden;
  border: 0px solid transparent;
  background-color: white;
  border-radius: 15px;
}

.SectionTitle {
  @extend .py-3;
  @extend .px-4;
  @extend .mb-4;
  @extend .shadow-sm;
  // border-bottom: 2px solid rgba(73, 191, 214, 0.204);

  .subtitle {
    font-size: 0.9rem;
  }
}

.Apps {
  @extend .Favorites;
}

.app-button {
  @extend .btn;
  @extend .btn-lg;
  @extend .text-center;
  @extend .shadow-sm;
  @extend .text-white;
  width: 12rem;
}

.site-title {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
  height: 100%;

  .child-flex-item {
    width: 100%;
  }

  h1 {
    font-size: 2.8rem;
    text-align: center;
  }
}

.removeSite-list-group-item {
  @extend .list-group-item;
  border-color: whitesmoke;

  .left-display {
    @extend .ml-2;
    width: 80%;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .site-url {
    @extend .m-0;
    // color: rgb(48, 112, 155);
    @extend .text-muted;
    font-size: 0.4rem;
  }

  .site-createdBy {
    @extend .m-0;
    @extend .text-muted;
    font-size: 0.8rem;
  }

  .right-remove {
    border: 1px solid blue;
    height: 100%;
  }
}

// ────────────────────────────────────────────────────────── colors 🎨 ───┐
.color-orange {
  color: #fecb81;
}
.color-ash {
  color: lightgray;
}
.color-dodgerblue {
  color: dodgerblue;
}
.color-red {
  color: salmon;
}
// ────────────────────────────────────────────────────────────────────────┘

.modal-content {
  border-radius: 10px;
  border: 1px solid transparent;
  overflow: hidden;
}

// ───────────────────────────────────────────────────────── override 👨‍🚀───┐
.col-form-label {
  font-size: 1rem;
}

.form-control {
  border-color: whitesmoke;
}

.github-picker {
  @extend .border-light;
  @extend .shadow-sm;
}

.carousel {
  overflow: hidden;
  border-radius: 10px !important;
  transition: 0.20s;
}

.carousel:hover {
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.15) !important;
  transition: 0.10s;
}

// ────────────────────────────────────────────────────────────────────────┘

// ─────────────────────────────────────────────────────────── clock ⏱ ───┐
#clock {
  @extend .ml-2;
  @extend .px-2;
  min-width: fit-content;
  color: rgba(168, 168, 168, 0.664);
  font-size: 1rem;
}
// ────────────────────────────────────────────────────────────────────────┘

// ───────────────────────────────────────────────────────── infobar 📟 ───┐
#infobar {
  @extend .px-2;
  background-color: rgba(30, 143, 255, 0.863);

  border: 1px solid transparent;
  border-radius: 10px;

  color: whitesmoke;
}
// ────────────────────────────────────────────────────────────────────────┘

// ────────────────────────────────────────────────────── css animation ───┐
/* appear - on page load */
.fade-appear {
  opacity: 0;
  // z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 100ms linear;
}

/* enter */
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 100ms linear;
}

/* exit */
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}
.fade-exit-done {
  opacity: 0;
}

/* slide enter */
.slide-enter {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
  z-index: 1;
}
.slide-enter.slide-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: opacity 3000ms linear 1000ms, transform 3000ms ease-in-out 1000ms;
}

/* slide exit */
.slide-exit {
  opacity: 1;
  transform: scale(1) translateY(0);
}
.slide-exit.slide-exit-active {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
  transition: opacity 1500ms linear, transform 1500ms ease-out;
}
.slide-exit-done {
  opacity: 0;
}
// ────────────────────────────────────────────────────────────────────────┘

// ─────────────────────────────────────────────────────── hover effect ───┐
.transparent-list {
  @extend .list-group-item;
  background-color: transparent;
  border-color: transparent;
  border-radius: 10px !important;
  color: #495057;
  transition: 0.20s;

  .url-tag {
    color: transparent;
    transition: 0.20s;
  }

}

.transparent-list:hover {
  background-color: white !important;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.15) !important;
  z-index: 1;
  transition: 0.10s;

  .url-tag {
    @extend .text-primary; 
    transition: 0.10s;
  }
}

.list-group-item-action:focus {
  background-color: transparent;
}

.list-group-item-action:active {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  background-color: transparent;
}

// ────────────────────────────────────────────────────────────────────────┘

.morningAseemblyChart {
  @extend .p-3;
  border-radius: 10px !important;
  display: block !important;
  transition: 0.20s;
}

.morningAseemblyChart:hover {
  background-color: white;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.15) !important;
  transition: 0.10s;
  z-index: 1;
}


// ───────────────────────────────────────────────────────── text-color ───┐
.text-ash {
  color: rgba(218, 218, 218, 0.5);
}
// ────────────────────────────────────────────────────────────────────────┘

.btn-colorless {
  // @extend .text-secondary;
  // @extend .border;
  @extend .rounded;
  border: none;
  color: rgb(226, 226, 226);
}

// ───────────────────────────────── hide step arrows for input numbers ───┐
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
// ────────────────────────────────────────────────────────────────────────┘

// ──────────────────────────────────────────────────────── placeholder ───┐
.form-control::placeholder{
  color: lightgray;
}
// ────────────────────────────────────────────────────────────────────────┘

// ────────────────────────────────────────────────────────── pie chart ───┐
.pie-chart {
  @extend .m-3;
  @extend .pt-3;
  border-radius: 10px !important;
  transition: 0.20s;
}

.pie-chart:hover {
  background-color: white;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.15) !important;
  transition: 0.10s;
  z-index: 1;
}
// ────────────────────────────────────────────────────────────────────────┘